
@media  (min-width: 700px ){

.nav-desktop{
    display: flow-root;
}
.mobile-nav{
    display: none;
}
}


@media  (max-width: 700px ){

    .nav-desktop{
        display: none;
    }


    .mobile-nav{
        background-color: #292929;
        height: 50px;
        display: flex;
        justify-content: end;
        position: fixed;
        z-index: 1200;

        width: 100%;
     
    }

    .li-mobile-menu {
        left: 86px !important;
    }

    .col-card{
        width: 316px !important;
    }
    }

.mobileButton{
    color: #fff;
    background-color: transparent;
    border: 0;  
    display: inline-grid;
 
}
.svg-button{
    height: 24px;
    width: 24px;
}
.mobileButton:focus {
    outline: none;
  }

  .navBarButton-text::after {
  content: "▲"; /* Contenido del pseudo-elemento */
 /* Espacio entre el texto y el pseudo-elemento */
  /* Otros estilos adicionales para el pseudo-elemento */




 
}



.mobileNav-menu{
    width: 439px;
    height: 214px;
    right: 0px;
   position: fixed;
   background-color: #fff;
   top: 50px;
   font-size: 16px;
   color: #292929;
   z-index: 1200;
}


.li:hover{
    cursor: pointer;
}

.li-mobile-menu{
  
        display: flex;
        color: rgb(41, 41, 41);
        list-style: none;
        margin-top: 20px;
        justify-content: flex-start;
        left: 56px;
        position: relative;
}