.col-card{
  border-radius: 5px;
    border: 1px solid black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
    width: 400px;
    font-size: 25px;
}


@media  (min-width: 1100px ){
.row-cards{
    display: inline-flex;

}
}

@media  (max-width: 1100px ){
    .row-cards{
        /* margin-top: 60px; */
        display: inline-block;
    }
    }

.col-card:hover{
    cursor: pointer;
}


@media  (max-width: 700px ){
    .row-cards{
        margin-top: 50px;
    
    }
   
    }