#root {
 
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.btn-medidas{
  /* border: 1px solid red; */
  width: 95% !important;
  margin: 10px ;
}

.pop-up{
  border: 1px solid red;
}

@media (prefers-color-scheme: dark) {
  .btn-medidas{
    /* border: 1px solid red; */
  color: white;
  }
  .btn-principal{
    color: white;
  }
  .btn-close{
    color: white;
  }
}